<div class="login_background">
  <div class="outer">
<div class="login_form">
  <div class="login_fields">
<h3>Log In</h3>
<%= form_for @user, url: "/sessions", method: "post" do |f| %>
  <div>
    <%= f.text_field :email, placeholder: "Email" %>
  </div><br>
  <div>
    <%= f.password_field :password, placeholder: "Password" %>
  </div><br>
  <%= f.submit "Log In", class: 'btn btn-warning'%>
<% end %>
</div>
</div>
</div>
</div>
