<center><h1>New Post</h1></center>
<%= form_for [@city, @post] do |f| %>
<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <div class="form-group">
      <%= f.text_field :title, class: "form-control", placeholder: "Title", autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.text_area :content, class: "form-control", placeholder: "Description" %>
    </div>
    <div class="form-group">
      <%= f.submit "Save Post", class: "btn btn-block btn-success" %>
    </div>
  </div>
 </div>
<% end %>
