<div class="background">
<div class="jumbotron">
      <div class="header">
        <h1 class="display-3">Welcome to Vagabond</h1>
        <p class="lead hero-header">
          Description about the app.....
        </p>
      </div>
    </div>
<% if current_user %>
  <% for city in @cities %>
  <div>
    <div class="text"><%= link_to "#{city.name}", city_path(city), class: 'city_name'%></div>
<%= link_to image_tag(city.image, :width => 1465, :height => 600), city_path(city) %>
      <% end %>
    </div>
    <% else %>
    <% for city in @cities %>
    <div>
      <div class="text"><%= "#{city.name}"%></div>
      <%= image_tag(city.image, :width => 1465, :height => 600) %>
    <% end %>
</div>
<% end %>
</div>
