// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  // html {
  //   background: url('vagabond-background.jpeg') no-repeat;
  //   background-size: cover
  // }

  // $body-bg: transparent;
  .background {
    background-color: black;
  }
  .jumbotron {
  position: relative;
  background: black url("https://upload.wikimedia.org/wikipedia/commons/9/95/San_Francisco_Oakland_Bay_Bridge_at_night.jpg") center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
}
.text{
  text-align: center;
  color: white;
  font-size: 60px;
  text-align: center;
}

.sign_up {
  color: white;
}
.call_to_action {
  text-align: center;
  font-size: 30px;
}
.sign_up:hover{
    background-color: transparent;
    color: white;
    text-decoration: none;
}
.city_name {
  color: white;
  font-size: 60px;
  text-align: center;
}

.city_name:hover{
    background-color: transparent;
    color: white;
    text-decoration: none;
}
