// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.city_name {
  color: white;
  font-size: 200px;
  text-align: center;
}

.city_name:hover{
    background-color: transparent;
    color: white;
    text-decoration: none;
}
.outer {
  position: relative;
}

.city_home_text {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  font-size: 200px;
  text-align: center;
  color: white;
}
.profile {
  text-align: center;
  font-size: 18px;
}
p {
  margin: 5px;
}
.post {
  margin-top: 10px;
}
