// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  margin-top: 15px
}
.profile_img {
  width:250px
}

.new_background {
  background: url(https://images.unsplash.com/photo-1431576901776-e539bd916ba2?crop=entropy&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1450) no-repeat center center fixed;
  background-size: cover;
  height: 100vh
}
.edit_background {
  height: 100vh;
}

h3 {
  margin-top: 0px;
  color: #fffcf6
}

.outer {
  position: relative
}

.signup_form {
  border-radius: 20px;
  background-color: black;
  width: 30%;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 30%)
}

.signup_fields {
  text-align: center;
  padding: 20px
}

.avatar {
  width: 180px;
  color: #fffcf6;
  position: absolute;
  left: 53%;
  transform: translate(-50%, -50%)
}

.dropdown {
  width: 160px
}

h5 {
  color: #fffcf6
}
.edit_profile {
  color: black;
  // text-align: center;
}
.edit_dropdown {
  width: 200px;
}
.edit_avatar {
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center
}

.new_avatar {
  margin-bottom: 5%;
}
.glyphicon {
  color: gray;
  padding: 3px
}

.glyphicon:hover {
    color: gray;
    text-decoration: none
}
